body, #root, main {
  background: linear-gradient(to bottom, #F8A6D8, #FF7BAF);
}

body {
  background: linear-gradient(to bottom, #F8A6D8, #FF7BAF);
}

button {
  background-color: #3b82f6;
  color: white;
}
